<div id="corpo">
    <div class="nome">
        <a href="#" routerLinkActive="active"><h1>Postos de Fortaleza</h1></a>
    </div>
<nav class="menu">
    <ul>
        <li><a routerLink="lista" routerLinkActive="active">Postos</a></li>
        <li><a routerLink="contatos" routerLinkActive="active">Contatos</a></li>
        <li><a routerLink="novo" routerLinkActive="active">Novo Posto</a></li>
        <li><a routerLink="sobre"routerLinkActive="active">Sobre</a></li>
    </ul>
</nav>
</div>

<router-outlet></router-outlet>

