#corpo{
    height: 1200px;
    background-color: white;
    width: 1000px;
    border: 2px solid rgb(255, 125, 3);
    border-radius: 12px;

    max-width: 900px;
    margin: auto;
}

.nome h1{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    display: inline-block;
    margin: 7px;
    color: gray;
}
.nome h1:hover{
    color: blue;
}

.menu{
    position: relative;
    display: block;
    top: 10px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    height: 60px;
}
.menu ul{
    list-style: none;
    text-transform: uppercase;
    text-align: center;
}
.menu li{
    display: inline-block;
    background-color: white;
    padding: 20px;
    margin: 0px 40px 0px 40px;
    transition: background-color 0.5s;
}
.menu li:hover{
    background: aqua;
}
.menu a{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none
}
.menu a:hover{
    color: blue;
}